/*START HEADER*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 3rem;
  font-size: 1rem;
  text-transform: uppercase;

  .horizontal_line {
    opacity: 0.2515;
    height: 0.0625rem;
    border-left: 30rem solid var(--color-white);
    margin-right: -6rem;
    z-index: 1;
  }
  .nav {
    display: flex;
    justify-content: left;
    max-width: 900px;
    font-weight: 300;
    align-items: center;
    letter-spacing: 0.3rem;
    padding: 2.5rem 5rem 0 5rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40px);
    gap: 2rem;

    .nav__item--number {
      font-weight: 700;
    }

    .nav__item--horizontal_line {
      width: 2rem;
      margin-top: 2.2rem;
      text-align: center;
      position: absolute;
      display: none;
    }
    .nav__item--horizontal_line--clicked {
      border-top: 0.2rem solid var(--color-white);
      display: block;
    }
    .nav__item--horizontal_line--mouseover {
      border-top: 0.2rem solid var(--color-gray);
      display: block;
    }

    .nav__item {
      margin-bottom: 2.5rem;
    }
    .nav__me {
      color: #4da1ff;
    }
  }
  .box-bar,
  .close-bar {
    position: absolute;
    right: 2rem;
  }
}

/*END HEADER*/
