:root {
  --color-white: #ffffff;

  /* fonts */
}
body {
  background: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-color: black;
  background-position: center 0;
  background-size: cover;
  /* overflow: hidden; */

  /* background-size: cover, 100% 100%; */
}
.container {
  color: var(--color-white);
  font-family: "Barlow Condensed", sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0 0 4rem;
  font-size: 1rem;

  .horizontal_line {
    opacity: 0.2515;
    height: 0.1rem;
    border-left: 29.5625rem solid var(--color-white);
    margin-right: -20rem;
    z-index: 1;
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.44rem 10.31rem 2.37rem 7.59rem;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
    width: 51.875rem;
    flex-shrink: 0;
    gap: 3rem;
    .nav__item--number {
      font-weight: 700;
      margin-right: 0.5rem;
    }
  }
}
